html, body {
    height: 100%;
    width: 100%;
    background-color: #000;
}


/*FORMULARIO E BOTAO*/
.search {
    text-align: right;

    margin-top: 10px;
    margin-left: 20px;

    padding-right: 60%;
}
.btn-primary {
    margin-top: 10px;
}


/*TABELA*/
td, th {
    color: #fff;
}
.table-style {
    margin-top: 25px;
    margin-left: 25px;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
.table-style td, #table-style th {
    border: 1px solid #333;
    padding: 8px;
}
.table-style tr:nth-child(even) {
    background-color: #666
}
.table-style tr:hover {
    background-color: #888
}
.table-style th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000;
    color: white;
    cursor: pointer;
}


/*BUTAO EXCLUIR*/
.excluir {
    margin-top: 0px;
    padding: 0px 0px;
    width: 20%;
}